* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: white;
    font-size: 18px;
}

.card-main {
    display: flex;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 10px 10px 20px 10px hsla(234, 71%, 69%, 0.096);
}

.card-blue-left { /* с градиентом */
    width: 350px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    padding: 40px;
}

.card-blue-left > h3 {
    font-weight: 700;
    color: hsl(241, 100%, 89%);
    margin-bottom: 25px;
}

.circle { /* с градиентом */
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 200px;
    background: linear-gradient(hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
}

.circle > h1 {
    font-size: 70px;
    color: hsl(221, 100%, 96%);
}

.circle > h4 {
    color: hsl(252, 100%, 67%);
}

.card-blue-left > h2 {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 30px;
    color: hsl(221, 100%, 96%);
}

.card-blue-left > p {
    color: hsl(241, 100%, 89%);
    text-align: center;
    margin-left: 10px;
    margin-right: 0px;
}

.card-white-right {
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 0 30px 30px 0;
}

.card-white-right > h3 {
    color: hsl(224, 30%, 27%);
    margin-bottom: 10px;
    font-weight: 800;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsla(0, 100%, 67%, 0.1);
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
}

.background-card-orange {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.background-card-green {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.background-card-blue {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.card > img {
    margin-right: 10px;
}

.card > h4 {
    color: hsl(0, 100%, 67%);
    margin-right: auto;
    display: block;
}

.background-card-orange > h4 {
    color: hsl(39, 100%, 56%);
}

.background-card-green > h4 {
    color: hsl(166, 100%, 37%);
}

.background-card-blue > h4 {
    color: hsl(234, 85%, 45%)
}

.result {
    font-weight: bold;
    color: hsl(224, 30%, 27%);
}

.result-hundred {
    margin-left: 7px;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.8);
}

button {
    background-color: hsl(224, 30%, 27%);
    margin-top: 50px;
    color: hsl(221, 100%, 96%);
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
}

button:hover { /* активность при наведении, кнопка с градиентом */
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    margin-top: 50px;
    color: hsl(221, 100%, 96%);
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
}

button:active { /* активность при нажатии */
    border: 2px solid hsl(252, 100%, 67%);
    transition: all 3s;
}










